.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 404px;
}

.label {
    display: block;
    font-size: 14px;
    font-weight: 500;
    width: 100%;
}

.forgotPassword {
    display: flex;
}

.forgotPassword a {
    margin-left: auto;
    font-size: 10px;
}

.input {
    border: 1px solid #D9D9D9;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
}

.input::placeholder {
    color: #D9D9D9;

}

.checkboxLabel input {
    margin-right: 6px
}

.checkboxLabel,
.division {
    font-size: 9px;
}

.division {
    width: 100%;
    position: relative;
    text-align: center;
}

.division p {
    position: relative;
    text-align: center;
    z-index: 3;
}

.division div {
    position: absolute;
    top: 50%;
    height: 2px;
    width: 100%;
    z-index: 0;
    background-color: #f5f5f5;
}

.btn {
    background-color: #3A5B22;
    border: none;
    color: white;
    border-radius: 10px;
    padding: 10px;
    font-size: 13px;
    font-weight: 700;
    cursor: pointer;
}
.btn:hover {
    background-color: #3a5b22e5;
}
.btn img {
    width: 24px;
    height: 24px;
}

.error {
    color: var(--red)
}
.socialWrapper {
    display: flex;
    gap: 23px;
    align-items: center;
    justify-content: center;
}
.socialWrapper button {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 4px 20px;
    border-radius: 10px;
    border: 1px solid var(--muted, #D9D9D9);
    background-color: transparent;
}
.socialWrapper button:hover {
    background-color: whitesmoke;
}
.registerLink {
    text-align: center;
    font-weight: 500;
    font-size: 14px;
}
.registerLink span {
    margin: 5px;
}