.wrapper {
    position: relative;
    background-color: var(--light-bg);
    max-height: 446px;
    max-width: 285px;

}

.circle {
    position: absolute;
    right: 24px;
    top: 24px;
    border-radius: 50%;
    background-color: var(--red);
    width: 48px;
    height: 48px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
}

.discount {
    background-color: var(--red);
}

.new {
    background-color: var(--green);
}

.hide {
    display: none;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 8px;
    padding: 16px;
    padding-bottom: 30px;
}

.text h2,
.priceContainer h3 {
    margin: 0;
    font-weight: 600;
    color: var(--gray-1);
}

.text h2 {
    font-size: 24px;
}

.text p {
    margin: 0;
    color: var(--gray-3);
    font-weight: 500;
}

.priceContainer {
    display: flex;
    gap: 16px;
    align-items: center;
}

.priceContainer h2 {
    font-size: 20px;
}

.priceContainer p {
    color: var(--gray-4);
    text-decoration: line-through;
}

.productHover {
    display: none;
}

.productHover button {
    background-color: white;
    border: none;
    color: var(--primary);
    font-size: 16px;
    font-weight: 600;
    width: 202px;
    height: 48px;
    flex-shrink: 0;
    cursor: pointer;
}

.productHover button:hover {
    background-color: var(--light-bg);
}

.linksDiv {
    padding: 16;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    color: white;
    font-size: 16px;
    font-weight: 600;
}

.links {
    display: flex;
    gap: 2px;
    cursor: pointer;
}

.links:hover {
    filter: drop-shadow(1px 1px 12px white);
}

.wrapper:hover .productHover {
    background-color: rgba(58, 58, 58, 0.72);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0
}