*{
    margin: 0;
    padding: 0;
}
.section {
    display: flex;
    justify-content: space-between;
    padding: 75px 100px;
}
.table {
    width: 65%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    row-gap: 50px;
    align-items: center;
}

.tableHead {
    background-color: #F9F1E7;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 55px;
    flex-wrap: wrap;
}
.gray {
    color: #9F9F9F
}
.table button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    max-height: 47px;
}
.trash {
    max-width: 28px;
}
.counter {
    width: 107px;
    border: 1px solid #9F9F9F;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 50%;
    font-weight: 500;
}
.counter button {
    font-size: 16px;
    font-weight: 400;
}

.image {
    width: 105px;
    height: 105px;
    border-radius: 10px;
    background-color: #B88E2F38;
}

.totalWrapper {
    background-color: #F9F1E7;
    width: 30%;
    max-height: 390px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}
.totalWrapper h1 {
    font-size: 32px;
    font-weight: 600;;
}
.totalText {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 31px;
    padding: 0 75px;
}
.totalText div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.totalText p {
    font-weight: 500;
}
.total {
    font-size: 20px;
    color:#B88E2F;
}
.subtotal {
    color: #9F9F9F;
}
.totalWrapper button {
    border: 1px solid black;
    border-radius: 15px;
    background-color: transparent;
    font-size: 20px;
    padding: 14px 58px;
    margin-bottom: 65px;
    cursor: pointer
}
.totalWrapper button:hover {
    background-color:#B88E2F;
    color: white;
    border: 1px solid #B88E2F;
    transition: all 0.3s ease-in-out;
}