*{
    margin: 0;
    padding: 0;
}
.section {
    display: flex;
    justify-content: space-between;
    padding: 75px 100px;
}
.table {
    width: 60%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    row-gap: 50px;
}

.tableHead {
    background-color: #F9F1E7;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 55px;
    flex-wrap: wrap;
}

.counter {
    width: 107px;
    display: flex;
}

.image {
    width: 105px;
    height: 105px;
    border-radius: 10px;
    background-color: #B88E2F38;
}

.totalWrapper {
    background-color: #F9F1E7;
    width: 30%;
    max-height: 390px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}
.totalText {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 31px;
}
.totalText div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.totalText p {
    font-weight: 500;
}
.total {
    font-size: 20px;
    color:#B88E2F;
}