.wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 36px 32px;
    max-width: 1440px;
    margin: 0 auto;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
}

.navbar a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 500;
}

.navbar a:hover {
    color: var(--primary);
    transition: all 0.3s ease-in-out;
}

.links {
    flex-grow: 1;
    max-width: 430px;
}

.icons {
    flex-grow: 1;
    max-width: 247px;
}

.icons img {
    width: 28px;
    height: 28px;
    display: block;
}

.icons img:hover {
    filter: invert(76%) sepia(98%) saturate(1722%) hue-rotate(340deg) brightness(79%) contrast(78%);
    transition: all 0.3s ease-in-out;
}

.logo {
    flex-grow: 0;
}

.burguer {
    display: none;
}

@media screen and (max-width: 768px) {
    .wrapper {
        display: block;
    }

    .wrapper.open {
        position: fixed;
        background-color: var(--white);
        align-items: start;
        height: 100vh;
        width: 100vw;
        z-index: 10;
    }

    .mobileHeader {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .burguer {
        display: block;
    }

    .navbar {
        display: none;
    }

    .navbar.open {
        height: 80%;
        padding-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    .navbar ul {
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }


}