.input {
    border-bottom: 1px solid black;
    border-right: 0;
    border-top: 0;
    border-left: 0;
    border-radius: 0;
    padding: 4px 0;
    font-size: 14px;
    outline: 0;
    width: 100%;
    display: block;
}

.error .input {
    border-color: var(--red);
}

.success .input {
    border-color: var(--green);
}

.error p {
    color: var(--red);
}

.success p {
    color: var(--green);
}

.statusMessageDisplay {
    margin: 10px 0;
    font-size: 12px;
}