.productSection {
    width: 100%;
    margin-bottom: 85px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filterBarBg {
    background-color: var(--cream-bg);
    width: 100%;
}

.filterBarContent {
    margin: 35px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.leftContent {
    display: flex;
    align-items: center;
    gap: 29px;
}

.pageDescription {
    padding-left: 36px;
    border-left: 1px solid black;
}

.resultsNumberInput {
    display: block;
    text-align: center;
}

.resultsNumberInput label {
    font-size: 20px;
}

.resultsNumberInput select {
    background-color: white;
    border: none;
    width: 55px;
    height: 55px;
    font-size: 20px;
    text-align: center;
    color: var(--gray-3);
    appearance: none;
}

@media screen and (min-width: 768px) {

    .resultsNumberInput select {
        margin-left: 17px
    }
}

@media screen and (min-width: 1440px) {
    .cardsDisplay {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .filterBarContent {
        max-width: 1240px;
        margin: 35px auto;
    }
}